@charset "UTF-8";

body
{
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
iframe
{
    display: block;
    margin: auto;
    border: 2px solid white;
    width: 450px;
    height: 450px;
}
p, h1
{
    text-align: center;
    color: white;
}
.negrito
{
    font-weight: bold;
}